.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cabecalho .logo {
  width: 150px;
}

.cabecalho .logo img {
  width: 100%;
}


/* --------------- 
Usuário */
.cabecalho .nav_usuario {
  max-width: 250px;
  width: 100%;
  position: relative;
}

.cabecalho .login_usuario {
  width: 100%;
  border: 1px solid var(--borda-verde);
  border-radius: 33px;
  padding: 8px 10px 8px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  background: #fff;
  position: relative;
  z-index: 1;
}

.cabecalho .login_usuario:hover {
  box-shadow: 0 0 8px var(--bg-verde-claro);
}

.cabecalho .login_usuario .nome_usuario {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.cabecalho .login_usuario .foto_usuario {
  background: #484B4D;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav_usuario .opcoes_usuario {
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  visibility: hidden;
}

.nav_usuario .opcoes_usuario.ativo {
  visibility: visible;
}

.nav_usuario .opcoes_usuario .btn_sair {
  display: block;
  width: 100%;
  background: #eb3f17;
  color: #000;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 5px 5px 5px;
  transition: color .15s ease-in-out, padding-top .15s ease-in-out;
}

.nav_usuario .opcoes_usuario.ativo .btn_sair {
  padding-top: 32px;
}

.nav_usuario .opcoes_usuario .btn_sair:hover {
  color: #fff;
}

/* ---------------
Linha */
.separador {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(
    135deg,
    var(--bg-verde-escuro),
    var(--bg-verde-claro)
  );
  border: none;
}

/* ---------------
Vídeos */
.container_cursos {
  max-width: 1303px;
  width: 100%;
  margin: 50px auto;
  padding: 0 10px;
}

.container_cursos .titulo_cursos {
  color: #707070;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.container_cursos .cursos {
  border: 1px solid var(--borda-verde);
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 21%);
}

.container_cursos .cursos .lista_videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

.container_cursos .cursos .lista_videos .video {
  display: block;
  background: none;
  width: 100%;
  height: 100%;
}

/* Inserção para estilo dos cursos (arrumar) */

/* removi o .cursos pois não existe isso na dashboard 
Além disso, inseri uma div class = boxCurso somente no php (verificaPlano),
para que pudesse acrescentar uma borda no curso (que pode ser substituida por uma sombra) */

/* Cursos */
.boxCurso {
  max-width: 390px;
  border: 1px solid var(--borda-verde);
  border-radius: 20px;
  cursor: pointer;
}

.titulo_curso {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px 5px;
}

.descricao_curso {
  padding: 10px 10px 10px;
}

.titulo_curso h3 {
  font-size: 24px;
  line-height: 20px;
}

.titulo_curso .tipo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.titulo_curso .tipo span {
  font-size: 18px;
  font-weight: 600;
  color: #707070;
}

.descricao_curso p:nth-of-type(2) {
  min-width: 277px;
}

.professor {
  display: block;
  font-size: 12px;
  margin: 4px 0;
  color: #707070;
}

.descricao_curso .sobre {
  font-size: 14px;
}

/* Cores da palavra KIDS */
.letra_vermelho {
  color: #ea7878;
}

.letra_laranja {
  color: #eda86b;
}

.letra_azul {
  color: #ace2e5;
}

.letra_verde {
  color: #ace5b2;
} 