/* Erro */
#dados_incorretos {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
  background: #eb3f17;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
}

#dados_incorretos .fechar {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  top: 3px;
  left: 92%;
  background: none;
  color: #fff;
  border: none;
}

#dados_incorretos p {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#dados_incorretos .img_erro {
  width: 25px;
}