.cabecalho,
.introducao,
.cursos,
.planos,
.depoimento,
.precos {
  max-width: 1440px;
}

/* ---------------
Cabeçalho */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 60px 50px;
}

.cabecalho.scroll {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  padding: 20px 60px 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.274);
  z-index: 999;
  transition: 0.4s;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.cabecalho .nav_interna .itens_secoes_internas {
  display: flex;
  margin-left: 125px;
}

.cabecalho .nav_interna .itens_secoes_internas a {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.6px;
  padding: 5px;
}

.cabecalho .nav_interna .itens_secoes_internas a.ativo {
  color: var(--bg-verde-claro);
  font-size: 14px;
}

.cabecalho .nav_interna .itens_secoes_internas li:not(li:last-child)::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 50%;
  background: #000;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.cabecalho .itens_nav {
  display: flex;
  gap: 20px;
}

.cabecalho .itens_nav .login {
  font-size: 18px;
  color: #000;
  border: 1px solid #000;
  border-radius: 35px;
  padding: 10px 20px;
  font-weight: bold;
}

.cabecalho .itens_nav .cadastro {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  border: 1px solid var(--borda-verde);
  border-radius: 35px;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.cabecalho .itens_nav .cadastro:hover {
  background: var(--borda-verde);
  box-shadow: 0 0 8px var(--bg-verde-claro);
  color: #fff;
}

/* ---------------
Introdução */
.introducao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 90px;
}

.introducao .descricao {
  width: 50%;
}

.introducao .descricao img {
  width: 50%;
}

.introducao img {
  max-width: 32%;
}

.introducao .descricao .titulo {
  font-size: 42px;
  font-weight: bold;
  line-height: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.introducao .descricao .qualidades {
  max-width: 570px;
  font-size: 24px;
  line-height: 32px;
}

/* ---------------
Cursos */
.cursos {
  margin-top: 70px;
  padding: 30px 90px;
  background-image: linear-gradient(
    135deg,
    var(--bg-verde-escuro),
    var(--bg-verde-claro)
  );
}

.secao_titulo h2 {
  font-size: 34px;
  color: #fff;
  text-align: center;
}

.secao_titulo p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.cursos .divisoria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.cursos .divisoria li {
  max-width: 390px;
  flex: 1 1 240px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.205);
  align-self: flex-start;
}

.cursos .titulo_curso {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px 5px;
}

.cursos .descricao_curso {
  padding: 10px 10px 10px;
}

.cursos .titulo_curso h3 {
  font-size: 24px;
  line-height: 20px;
}

.cursos .titulo_curso .tipo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cursos .titulo_curso .tipo span {
  font-size: 18px;
  font-weight: 600;
  color: #707070;
}

.cursos .descricao_curso p:nth-of-type(2) {
  min-width: 277px;
}

.cursos .professor {
  display: block;
  font-size: 12px;
  margin: 4px 0;
  color: #707070;
}

.cursos .descricao_curso .sobre {
  font-size: 14px;
}

/* Cores da palavra KIDS */
.letra_vermelho {
  color: #ea7878;
}

.letra_laranja {
  color: #eda86b;
}

.letra_azul {
  color: #ace2e5;
}

.letra_verde {
  color: #ace5b2;
}

/* --------------- 
Sobre os planos */
.planos {
  padding-top: 30px;
}

.planos .secao_titulo h2,
.planos .secao_titulo p {
  color: #000;
}

.planos .plano {
  display: flex;
  flex-direction: row;
}

.planos .plano.order {
  flex-direction: row-reverse;
}

.planos .plano img {
  width: 50%;
  max-height: 450px;
  object-fit: cover;
}

.planos .plano .descricao {
  width: 50%;
  padding: 30px 50px 30px;
  align-self: center;
}

.planos .plano .descricao h2 {
  font-size: 32px;
}

.planos .plano .descricao p {
  font-size: 18px;
  margin-top: 30px;
  line-height: 24px;
}

/* ---------------
Depoimentos */
.depoimento {
  background-image: linear-gradient(
    135deg,
    var(--bg-verde-escuro),
    var(--bg-verde-claro)
  );
  padding: 30px 90px;
}

.depoimentos {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.depoimentos .depoimento_aluno {
  background: #fff;
  max-width: 380px;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.205);
  padding: 15px 25px 25px 15px;
  flex: 1;
}

.depoimentos .depoimento_aluno .info_aluno {
  display: flex;
  align-items: center;
}

.depoimentos .depoimento_aluno .info_aluno .foto_aluno {
  margin-right: 10px;
  border: 1px solid var(--borda-verde);
  border-radius: 50%;
}

.depoimentos .depoimento_aluno .info_aluno .nome {
  font-size: 18px;
}

.depoimentos .depoimento_aluno .frase_aluno {
  color: #707070;
  font-size: 18px;
  margin-left: 90px;
  margin-top: 8px;
  position: relative;
}

/* --------------- 
Planos */
.precos {
  padding: 30px 0;
}

.precos .secao_titulo h2,
.precos .secao_titulo p {
  color: #000;
}

.container_planos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
}

.container_planos > div {
  max-width: 400px;
  width: 100%;
  margin: 0 10px;
  padding: 30px 0;
  border: 1px solid var(--borda-verde);
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.205);
}

.container_planos > div:nth-child(1),
.container_planos > div:nth-child(2) {
  margin-bottom: 20px;
}

.container_planos .plano_titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

.container_planos .propriedades {
  width: calc(100% - 65px);
  margin: 0 auto;
}

.container_planos .propriedades li {
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
}

.container_planos .propriedades li::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  background: url(../img/check.png) no-repeat center;
}

.container_planos .plano_preco {
  font-size: 36px;
  text-align: center;
  margin-bottom: 35px;
}

.container_planos .container_btn {
  text-align: center;
}

.container_planos .btn {
  display: inline-block;
  padding: 20px 50px;
  background: none;
  border: 1px solid var(--borda-verde);
  border-radius: 20px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: 0.15s ease-in-out;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.container_planos .btn:hover {
  color: #fff;
  background: var(--borda-verde);
  transform: scale(1.1);
}

.container_planos .btn:hover::before {
  content: '';
  display: block;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.08)
  );
  transform: skew(-25deg);
  width: 100%;
  height: 100%;
  top: 0;
  left: -120%;
  position: absolute;
  animation: shine 0.7s forwards;
}

@keyframes shine {
  to {
    left: 110%;
  }
}
