body {
  background-image: linear-gradient(
    130deg,
    var(--bg-verde-escuro) 50%,
    var(--bg-verde-claro) 50%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.container {
  max-width: 400px;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 20px;
  animation: fadeDown 1s forwards;
}

.logo {
  display: block;
  width: 100px;
  margin: 0 auto 40px;
}

#email {
  margin-bottom: 20px;
}

.assine_aqui {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 14px;
}

.assine_aqui a {
  text-decoration: underline;
  font-style: italic;
}

.btn {
  display: block;
  padding: 20px 70px;
  font-size: 18px;
  text-transform: uppercase;
  background: none;
  border: 1px solid var(--borda-verde);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.15s ease-in-out;
}

.btn:hover {
  background: var(--bg-verde-escuro);
  color: #fff;
}
