* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --borda-verde: #27AE00;
  --bg-verde-escuro: #3DD40B;
  --bg-verde-claro: #8CEA01;
}