@media screen and (max-width: 1250px) {
  /* ---------------- 
  Depoimentos */
  .depoimentos .depoimento_aluno .frase_aluno {
    margin-left: 0;
  }

  .depoimentos .depoimento_aluno .frase_aluno::before {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  /* ---------------- 
  Geral */
  .introducao,
  .cursos,
  .depoimento,
  .sessao_planos {
    padding-left: 45px;
    padding-right: 45px;
  }

  /* ---------------- 
  Cabecalho  */
  .cabecalho {
    padding: 0 10px;
  }
}

@media screen and (max-width: 945px) {
  /* ---------------- 
  Geral */
  .introducao,
  .cursos,
  .depoimento,
  .sessao_planos {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 915px) {
  /* ---------------- 
  Cabeçalho */
  .cabecalho .nav_interna .itens_secoes_internas {
    display: none;
  }
}

@media screen and (max-width: 875px) {
  /* ---------------- 
  Introdução */
  .introducao {
    flex-direction: column;
  }

  .introducao .descricao {
    text-align: center;
    width: auto;
  }

  .introducao .descricao .titulo {
    margin-top: 0;
  }

  .introducao .descricao .qualidades {
    display: inline-block;
  }

  .introducao img {
    margin: 0 auto;
  }

  /* ---------------- 
  Cursos */
  .cursos .divisoria {
    flex-direction: column;
  }

  .cursos .divisoria li {
    margin: 0 auto;
  }

  /* --------------- 
  Sobre os planos */
  .planos .plano {
    flex-direction: column !important;
  }

  .planos .plano img {
    width: 100%;
  }

  .planos .plano .descricao {
    width: 100%;
    align-self: auto;
    text-align: center;
  }

  .planos .plano .descricao p {
    margin-top: 10px;
  }

  /* ---------------- 
  Depoimentos */
  .depoimentos {
    flex-direction: column;
  }

  .depoimentos .depoimento_aluno {
    margin: 0 auto;
  }

  /* ---------------- 
  Planos */
  .container_planos {
    flex-direction: column;
  }

  .container_planos > div {
    margin: 0 auto 20px;
  }

  /* -- CADASTRO -- */
  .divisor {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  /* ---------------- 
  Introdução */
  .introducao img {
    max-width: 50%;
  }

  /* ---------------- 
  Sobre os planos */
  .planos .plano .descricao {
    padding-left: 10px;
    padding-right: 10px;
  }

  .planos .plano .descricao p {
    text-align: left;
  }

  /* Dashboard */
  /* ---------------
  Vídeos */
  .container_cursos .cursos .lista_videos li {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  /* ---------------- 
  Geral */
  .secao_titulo h2 {
    font-size: 26px;
  }

  .secao_titulo p {
    font-size: 16px;
    padding: 0 30px;
  }

  /* ---------------- 
  Cabeçalho */
  .cabecalho {
    flex-direction: column;
  }

  .logo img {
    margin-bottom: 20px;
  }

  /* ---------------- 
  Introdução */
  .introducao .descricao .titulo {
    font-size: 28px;
    line-height: 36px;
  }

  .introducao img {
    max-width: 70%;
  }

  .introducao .descricao .qualidades {
    font-size: 18px;
    line-height: 24px;
  }

  /* ---------------- 
  Cursos */
  .cursos .divisoria li {
    flex: 1;
  }

  .cursos .titulo_curso h3 {
    font-size: 18px;
  }

  /* ---------------- 
  Sobre Cursos */
  .planos .plano .descricao h2 {
    font-size: 24px;
  }

  .planos .plano .descricao p {
    font-size: 16px;
  }

  /* ---------------- 
  Depoimentos */
  .depoimentos .depoimento_aluno .info_aluno .nome,
  .depoimentos .depoimento_aluno .frase_aluno {
    font-size: 16px;
  }

  /* ---------------- 
  Planos */
  .container_planos .plano_titulo {
    font-size: 28px;
  }

  /* Dashboard */
  /* ---------------
  Vídeos */
  .container_cursos .cursos .lista_videos {
    flex-direction: column;
  }

  .container_cursos .cursos .lista_videos li {
    width: 100%;
    height: 200px;
  }
}
